
<div class="container">           
  <div class="row db-padding-btm db-attached">
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-one">
                <div class="price">
                    <p>$150</p>
                </div>
                <div class="type">
                    <p>Sesión de maquillaje</p>
                </div>
                <button ng-click="showme1=true" ng-hide="showme1" class="btn btn-light" onclick="add('Maquillaje')">Agregar</button> 
                <button ng-show="showme1" ng-click="showme1=false" class="btn btn-light" onclick="remove('Maquillaje')">Eliminar</button> 
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-two popular">
                <div class="price">
                    <p>$100</p>
                </div>
            <div class="type">
                <p>Sesión de peluqería</p>
            </div>
            <div>
                <button ng-click="showme2=true" ng-hide="showme2" class="btn btn-light" onclick="vm.add('Peluqueria')">Agregar</button> 
                <button ng-show="showme2" ng-click="showme2=false" class="btn btn-light" onclick="vm.remove('Peluqueria')">Eliminar</button>
              </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 ">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-three">
                <div class="price">
                    <p>$250</p>
                </div>
                <div class="type">
                    <p>Sesión de costura</p>
                </div>
                <button ng-click="showme3=true" ng-hide="showme3" class="btn btn-light" onclick="vm.add('Costura')">Agregar</button> 
                <button ng-show="showme3" ng-click="showme3=false" class="btn btn-light" onclick="vm.remove('Costura')">Eliminar</button>

            </div>
        </div>
    </div>  
    </div>
</div>