
<div class="container">           
  <div class="row db-padding-btm db-attached">
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-one">
                <div class="price">
                    <p>$150</p>
                </div>
                <div class="type">
                    <p>Sesión de maquillaje</p>
                </div>

                <button ng-click="vm.add('Maquillaje' , 150)" class="btn btn-light">Agregar</button> 
                <button ng-click="vm.remove('Maquillaje', 150)" class="btn btn-light">Eliminar</button>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-two popular">
                <div class="price">
                    <p>$100</p>
                </div>
            <div class="type">
                <p>Sesión de peluqería</p>
            </div>
            <div>

            <button ng-click="vm.add('Peluquería' , 100)" class="btn btn-light">Agregar</button> 
            <button ng-click="vm.remove('Peluquería', 100)" class="btn btn-light">Eliminar</button>
              </div>
            </div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4 ">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-three">
                <div class="price">
                    <p>$250</p>
                </div>
                <div class="type">
                    <p>Sesión de costura</p>
                </div>

            <button ng-click="vm.add('Costura' , 250)" class="btn btn-light">Agregar</button> 
            <button ng-click="vm.remove('Costura', 250)" class="btn btn-light">Eliminar</button>

            </div>
        </div>
    </div>  
    </div>
</div>