<div>
    <form ng-submit="vm.registrarAnimador(vm.nuevoAnimador)">
      <div class="form-action">
        <label for="">Nombre del animador</label>
        <input type="text"id="nombreAnimador" ng-model="vm.nuevoAnimador.nombreAnimador"  required>
      </div>
      <div class="form-action">
        <label for="">Costo del animador por hora</label>
        <input type="number" min="1" id="costo" ng-model="vm.nuevoAnimador.costo" required>
      </div>
      <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
    </form>
</div>

 <div class="col-9">
    <table class="table">
      <thead>
          <tr>
            <th>Nombre de animador</th>
            <th>Costo por hora del animador</th>
         
            
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat="animador in vm.listaAnimadores">
          <td>{{animador.nombreAnimador}}</td>
          <td>{{animador.costo}}</td>
          
          
        </tr>
      </tbody>
    </table>
  </div>