<h1>Difuntos a nombre de {{vm.usuarioActivo}}</h1>

<div class="col-4 my-3">

    <form ng-submit="vm.registrarDifuntos(vm.nuevoDifuntos)">

      <div class="form-group">
        <label for="">Apodo</label>
        <input type="text" class="form-control" ng-model="vm.nuevoDifuntos.apodo" required>
      </div>

      <div class="form-group">
        <label for="">Edad</label>
        <input type="number" class="form-control" ng-model="vm.nuevoDifuntos.edad" required>
      </div>

      <div >
          <label for="">Sexo</label>
        <select class="custom-select" ng-model="vm.nuevoDifuntos.sexo" required>
          <option>Femenino</option>
          <option>Masculino</option>
          
        </select>
        
      </div>



      <div class="form-group">
        <label for="">Tamaño</label>
        <input type="number" class="form-control" ng-model="vm.nuevoDifuntos.tamanno" required>
      </div>

      <div class="form-group">
        <label for="">N. Lápida</label>
        <input type="number" class="form-control" ng-model="vm.nuevoDifuntos.idlapida" required>
      </div>

      <button type="submit" class="btn btn-success">Registrar</button>

      <button type="button" class="btn btn-danger" ng-click="vm.volver()">Regresar</button>

    </form>

</div>

<div class="col-9">
  <table class="table">
    <thead>
        <tr>
          <th>Apodo</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Tamaño</th>
          <th>N. Lápida</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="difuntos in vm.listaDifuntos">
        <td>{{difuntos.apodo}}</td>
        <td>{{difuntos.edad}}</td>
        <td>{{difuntos.sexo}}</td>
        <td>{{difuntos.tamanno}}</td>
        <td>{{difuntos.idlapida}}</td>

        <td>
          <button type="button" class="btn btn-secondary" ng-click="vm.registrarEntierro(usuario)">Registrar entierro</button>
        </td>
        <td>
          <button type="button" class="btn btn-secondary" ng-click="vm.registrarRetoque(usuario)">Registrar retoque</button>
        </td>
        <td>
          <button type="button" class="btn btn-secondary" ng-click="vm.registrarFiesta(usuario)">Registrar fiesta en el infierno</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

