<div>
  <form ng-submit="vm.registrarFiesta(vm.nuevaFiesta)">
    <div class="form-action">
      <label for="">Fecha de la Fiesta</label>
      <input type="date"id="fecha" ng-model="vm.nuevaFiesta.fecha">
    </div>
    <div class="form-action">
        <label for="">Cantidad de horas</label>
        <input type="number" min="1" id="cantidadHoras" ng-model="vm.nuevaFiesta.horas">
      </div>
      <div class="form-action">
          <label for="">Animadores</label>
          <select name="Animadores"id="animador"ng-model="vm.nuevaFiesta.animador">
              <option value="Payasita Pilar la Bonachona">Payasita Pilar la Bonachona</option>
              <option value="Maromero Andrey  ">Maromero Andrey  </option>
              
            </select>
            
        </div>
        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
  </form>





</div>
   











        