<div>
  <form ng-submit="vm.registrarFiesta(vm.nuevaFiesta)">
    <div class="form-action">
      <label for="">Fecha de la Fiesta</label>
      <input type="date"id="fecha" ng-model="vm.nuevaFiesta.fecha"  required>
    </div>
    <div class="form-action">
        <label for="">Cantidad de horas</label>
        <input type="number" min="1" id="cantidadHoras" ng-model="vm.nuevaFiesta.horas" required>
      </div>
      <div class="form-action">
          <label for="">Animadores</label>
          <select name="Animadores"id="animador"ng-model="vm.nuevaFiesta.animador" required>
              <option value="Payasita Pilar la Bonachona">Payasita Pilar la Bonachona</option>
              <option value="Maromero Andrey  ">Maromero Andrey  </option>
              
            </select>
            
        </div>
        <div class="form-action">
          <label for="">Efectivo"</label>
          <input type="radio" name="metodoPago" value="Efectivo" ng-model="vm.nuevaFiesta.pago" required > 
          <label for="">Tarjeta"</label>
          <input type="radio" name="metodoPago" value="Tarjeta" ng-model="vm.nuevaFiesta.pago" required> 
          
         </div>
        <button type="submit" class="btn btn-primary" id="btnGuardar">Guardar</button>
  </form>

</div>
<div class="col-9">
  <table class="table">
    <thead>
        <tr>
          <th>Fecha</th>
          <th>Cantidad de horas</th>
          <th>Animadores</th>
          <th>Metodo de pago</th>
          
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="fiesta in vm.listaFiestas">
        <td>{{fiesta.fecha}}</td>
        <td>{{fiesta.horas}}</td>
        <td>{{fiesta.animador}}</td>
        <td>{{fiesta.pago}}</td>
        
      </tr>
    </tbody>
  </table>
</div>
   











        