<h1>Iniciar Sesión</h1>

<div>

  <div class="col-4 my-4">
    <form ng-submit="vm.iniciarSesion(vm.nuevoUsuario)">

      <div class="form-group">
        <label for="">Usuario</label>
        <input type="text" class="form-control" ng-model="vm.listaUsuarios.usuario" required>
      </div>

      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" ng-model="vm.listaUsuarios.contrasenna" required>
      </div>
    
      <button type="submit" class="btn btn-success">Iniciar Sesión</button>
      
    </form>
  </div>

</div>